
@charset "utf-8";
/*reset*/
.mobile {display: none !important}


/*product -layout common*/
body.product header {}
body.product #main { position: relative }
body.product section.container { max-width: 1200px; margin: 70px auto; overflow: hidden; }
body.product article { margin-bottom: 70px;}

/*main_visual*/
body.product .main_visual { overflow: hidden; padding-bottom: 20px; box-sizing: border-box; background: #000; }
body.product .main_visual div.quitecomfort_img { float: left; width: 65%; overflow: hidden;}
body.product .main_visual div.quitecomfort_img img { width: 100%; }
body.product .main_visual div.quitecomfort_txt { float: left; width: 30%; margin-top: 30%; margin-right: 5%; color: white;}
body.product .main_visual div.quitecomfort_txt span { display: block; margin: 5px 0;}
body.product .main_visual div.quitecomfort_txt h2 span { font-size: 35px; line-height: 1.2em}
body.product .main_visual div.quitecomfort_txt h2 span:nth-child(2) { font-size: 20px; }
body.product .main_visual div.quitecomfort_txt p { font-size: 16px; color: #eee; margin: 10px 0  30px 0;}
body.product .main_visual div.quitecomfort_txt p i {font-size: 20px}
body.product .main_visual div.quitecomfort_txt .product_btn { width: 70%; border-radius: 50px;}

@media (min-width: 851px) and (max-width:1260px) {
	body.product .main_visual div.quitecomfort_txt { margin-top: 20%; margin-right: 5%;}
}

/*colorpicker*/
article.colorpicker { overflow: hidden; height: 450px; }
article.colorpicker div.colorpick_left { float: left; width: 40%; background: #222; color: white; padding: 131px 0; box-sizing: border-box; overflow: hidden;}
article.colorpicker div.colorpick_inner { width: 80%; margin: 50px auto;  padding-left: 20px; box-sizing: border-box;}
article.colorpicker div.colorpick_inner strong { font-size: 30px; line-height: 40px;}
article.colorpicker div.colorpick_inner a.round { display: inline-block; width: 30px; height: 30px; background: #ccc; border-radius: 50px; margin:20px 10px 0 0; transition: all 0.3s }
article.colorpicker div.colorpick_inner a.round:hover { transform: scale(1.1)}
article.colorpicker div.colorpick_inner a.round:nth-child(2) { background: #000}
article.colorpicker div.colorpick_right { position: relative; float: right; width: 60%; height: 100%; background: #fff;}
article.colorpicker div.colorpick_right div { position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); overflow: hidden; width:460px;}
article.colorpicker div.colorpick_right img { width: 100%; height: 100%;}

/*quitecomfort_info*/
article.quitecomfort_info { overflow: hidden;}
section.prInfo { width: 100%; height: 450px; overflow: hidden; margin-bottom:70px; }
section.prInfo div.info_bg , div.info_txt { width: 48%; height: 100%;}
section.prInfo div.bgleft  , div.info_left { float: left;}
section.prInfo div.bgright , div.info_right{ float: right;}
section.prInfo .info_txt { padding:70px; box-sizing: border-box; background:white;}
section.prInfo .info_txt h4 { font-size: 35px; color: #333; letter-spacing: -1px; font-weight: bold; line-height: 1.3em;}
section.prInfo .info_txt span { display: block;}
section.prInfo .info_txt p { width:auto; margin-top:30px; font-size: 14px; line-height: 1.8em; color:#777 }
section.prInfo  div.info_bg { overflow: hidden; background: url(../img/sub_visual_01.jpg) no-repeat center; background-size: cover; opacity:0.9; transition: all 0.4s; }
section.prInfo  div.info_bg:hover {opacity: 1;}
section.prInfo:nth-child(2) div.info_bg { background-image: url(../img/sub_visual_02.jpg);}
section.prInfo:nth-child(3) div.info_bg { background-image: url(../img/sub_visual_03.jpg);}
section.prInfo:last-child div.info_bg { background-image: url(../img/sub_visual_04.jpg);}

/*sub_movie*/
section.sub_movie { width: auto; height: 450px; overflow: hidden; margin-bottom: 70px;}
section.sub_movie video {width: 100%; margin-top: -14%;}

/*product_icon*/
section.product_icon { max-width: 1200px; margin: 0 auto; overflow: hidden; text-align: center; }
section.product_icon ul { overflow: hidden; margin-top: 60px; }
section.product_icon ul li { float: left; width: 30%; padding:30px 0; box-sizing: border-box;}
section.product_icon ul li:nth-child(3n + 1) {margin-left: 5%;}
section.product_icon div {margin-bottom: 10px; }
section.product_icon div i { font-size: 40px; color: #888;}

/*pr_conposition*/
article.pr_conposition { overflow: hidden; background: #fff; margin-top: 70px;}
div.conposition_inner { overflow: hidden; max-width: 1200px; margin: 0 auto;}
div.conposition_inner section { height: 50%; overflow: hidden;}
div.conposition_inner img { width: 100%;}
div.conposition_inner div.txtbg { width: 50%; overflow: hidden;  transition: all 0.3s}
div.conposition_inner div.txtbg:hover {transform: scale(1.1)}
div.conposition_inner div.txt01_left , div.txt02_bg { float: left; width: 50%;}
div.conposition_inner div.txt01_bg , div.txt02_right { float: right; width: 50%;}
div.conposition_inner h4 { font-size: 30px;}
div.conposition_inner strong {display: block; font-size: 25px;}
div.conposition_inner li { line-height: 30px; font-size: 16px; margin-bottom: 10px;}
div.conposition_inner .txt_inner {width: 90%; margin: 25%; overflow: hidden;}

/*new_product*/
article.new_product { overflow: hidden; margin: 40px auto ; max-width: 1200px;}

/*review*/
article.review_txt { width: 100%; background: #fff; padding-bottom: 70px; box-sizing: border-box; }
div.review_txt_inner { max-width: 1200px; margin: 0 auto; overflow: hidden;}
div.review_txt_title { width: 50%; margin: 40px auto; text-align: center;}
.review_user { width:80%; margin: 0 auto 0; padding:3%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; overflow: hidden;}
.review_txt_title select#review { border: none; background: #eee; width: 110px; height: 30px;}
.review_user_txt,.reivew_QA {  width: 50%; float: left;}
.review_user_txt p { border-right: 1px solid #ccc; width: 0 auto; padding: 5% 10%; font-size: 16px;}
.review_user_txt span { display: block; font-size: 10px; color:#ccc; margin-left: 10%;}

div.review_txt_title .review_write { display: block; width: 30%; line-height: 2.5em; margin: 35px auto; color:#666; border: 1px solid #ccc; border-radius: 50px; transition: all 0.4s;}
div.review_txt_title .review_write:hover,.review_txt_title .review_write:focus{ color:#fff; background: #77befe; border-color:#77befe;}
.reivew_QA { text-align: center;}
.reivew_QA .review_btn { display: block; width: 140px; margin: 10px auto; line-height: 40px; color:#666; border: 1px solid #ccc; border-radius: 50px; transition: all 0.4s;}
.reivew_QA .review_btn:hover, .reivew_QA .review_btn:focus { color:#fff; border-color: #77befe; background: #77befe;}
