@charset "utf-8";

/*===================
         reset
=====================*/

.mobile {display: none !important}

/*===================
      body.main
=====================*/

/*main*/
body.main .bg_movie { width: 100%; height:auto; z-index: -1}
body.main .main_visual.pc { position: relative;}
body.main .main_visual.pc div { position: absolute; bottom: 50px; width: 100%; font-size:30px; color:#fff; text-align: center; animation: scroll 0.8s infinite;}
body.main .main_visual.pc div span { display: block; font-size: 14px;}
article { width: 100%; margin: 70px 0; overflow: hidden;}

@keyframes scroll {
    0% {}
    50% { opacity: 0.2; transform: translateY(25px);}
    100% { opacity: 0.5 }
}

/*soundspeaker*/
article.soundspeaker { position: relative; overflow: hidden; }
article.soundspeaker div.soundbg { width:70%; height:400px;  overflow: hidden; background:url(../img/main_product_speaker06.jpg) no-repeat; background-size: cover; text-indent: -9999px; font-size: 0; transition: all 0.3s;}
article.soundspeaker div.soundbg:hover { transform: scale(1.1)}
article.soundspeaker div.soundlinkbg { float: right;}
article.soundspeaker div.soudwearbg { float: left; background-image: url(../img/main_product_speaker04.jpg); background-position: right;}
article.soundspeaker div.soudwearbg  + div { right: 0;}
article.soundspeaker div.product_txt { position: absolute; bottom: 0; width: 35%; padding: 50px 25px; box-sizing: border-box; background: #fff;}
article.soundspeaker div.product_txt h4 { margin-bottom: 10px; font-size: 30px; color: #333; line-height: 1em; }
article.soundspeaker div.product_txt em { font-size: 16px; color: #666; }
article.soundspeaker div.product_txt p { margin-top: 15px; font-size: 13px; color: #999;}
article.soundspeaker div.product_txt div { margin-top: 20px; text-align: right;}
article.soundspeaker div.product_txt div a { color: #ccc; transition: all 0.3s; }
article.soundspeaker div.product_txt div span { display: inline-block; width: 0; margin-right: 3px; border: 1px solid gray; vertical-align: middle; opacity: 0; transition: all 0.3s}
article.soundspeaker div.product_txt div a:hover , div.product_txt div a:focus { color: #333;}
article.soundspeaker div.product_txt div a:hover span , div.product_txt div a:focus span{ width: 5%; opacity: 1;}

@media (min-width: 851px) and (max-width:1260px) {
	article.soundspeaker div.soundbg {width: 50%;}
	article.soundspeaker div.soundbg { background-position: right;}
	article.soundspeaker div.soudwearbg { background-position: center;}
	article.soundspeaker div.product_txt { width:50%; padding: 74px 25px;}
}

/*article.confort & article.soundfree common*/
div.soundtxt_box { width: 40%; padding: 40px; box-sizing: border-box;}
div.soundtxt_box h4 { margin-bottom: 8px; font-size: 40px; color: #fff; letter-spacing: -1px;}
div.soundtxt_box em { font-size: 18px; color: rgba(255, 255, 255, 0.8);}
div.soundtxt_box p { margin-top: 15px; font-size: 14px; color: rgba(255, 255, 255, 0.6); line-height: 1.6em;}
article a.view_btn { width: 140px; margin-top: 20px; border-radius: 100px; color:#eee; }

/*article.confort*/
article.confort { overflow: hidden; background:#58616a;}
article.confort .soundtxt_box {float: left;}
article.confort video { float: right; max-width:60%;}

/*article.soundfree*/
article.soundfree { overflow: hidden; background-color:#1d1c1c }
article.soundfree .soundfree_bg { float: left; width: 50%; height: 450px; background: url(../img/main_sound_sportfree.png) no-repeat; background-size: cover; font-size: 0; text-indent: -9999px}
article.soundfree .soundtxt_box { float: left; margin: 40px;}

@media (min-width:851px) and (max-width: 1260px) {
	div.soundtxt_box { padding: 40px;}
	div.soundtxt_box h4 { font-size: 30px;}
    div.soundtxt_box em { font-size: 14px;}
    div.soundtxt_box p { font-size: 13px;}
	article.confort video { float: right; max-width:65%;}
	article.confort .soundtxt_box { width: 35%; padding:25px;}
	article.soundfree .soundtxt_box { margin:30px;}
}

/*article.realreview*/

section.realreview_photo { width: 100%;  height: 450px; overflow: hidden; margin-top: 70px; background: #000;}
section.realreview_photo img { display: block; max-width: 100%; height: 100%;}
section.realreview_photo figure { float: left; width: 33.3%; height: 100%; overflow: hidden;}
section.realreview_photo figure:nth-child(3) {width: 33.4%}

/*article.realreview hover*/
section.realreview_photo figure { position: relative; font-size: 16px; color: white; text-align: center; }
section.realreview_photo figure * { box-sizing: border-box; transition: all 0.45s ease-in-out;}
section.realreview_photo figure img { position: relative; }
section.realreview_photo figcation.reltxt_box { position: absolute; top: 45%; left: 7%; right: 7%; bottom: 45%; border: 1px solid white;
  border-width: 1px 1px 0; }
section.realreview_photo .reltxt_box .heading {  overflow: hidden; transform: translateY(50%);  position: absolute;  bottom: 0; width: 100%;}
section.realreview_photo .reltxt_box h3 { display: table;  margin: 0 auto; padding: 0 10px; position: relative; text-align: center; width: auto;}
section.realreview_photo .reltxt_box h3:before,
section.realreview_photo .reltxt_box h3:after{ position: absolute; display: block; width: 1000%; height: 1px;
  content: ''; background: #fff; top: 50%;}
section.realreview_photo .reltxt_box h3:before {left: -1000%;}
section.realreview_photo .reltxt_box h3:after {right: -1000%;}
section.realreview_photo .reltxt_box p { position: absolute; top: 50%; width: 100%; padding: 0 20px; margin: 0; opacity: 0; line-height: 1.6em; font-size: 0.9em; transform: translateY(-50%); }
section.realreview_photo a { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
section.realreview_photo > figure a:hover img ,
section.realreview_photo > figure a.hover img { opacity: 0.25; transform: scale(1.1)}
section.realreview_photo > figure:hover .reltxt_box,
section.realreview_photo > figure.hover .reltxt_box { top:7%; bottom: 7%;}
section.realreview_photo > figure:hover p,
section.realreview_photo > figure a.hover p { opacity: 1; transition-delay: 0.35s;}

@media (min-width:851px) and (max-width:1260px) {
    section.realreview_photo { height: 400px;}
}

/*seciton.support*/
section.support { width: 100%; background: #fff; padding: 20px; box-sizing: border-box;}
section.support .support_inner { max-width: 1200px; margin: 70px auto; overflow: hidden; text-align: center;}
section.support .support_inner i {font-size: 80px; color: #333;}
section.support .support_inner strong {font-size: 20px; color:#333;}
section.support .support_inner p {font-size: 13px; color: #999; line-height: 45px;}
section.support .support_inner input ,button {display: block; margin: 20px auto; border: none; border-radius: 2px;}
section.support .support_inner input {  width: 280px; height: 30px; padding-left: 3px; border: 1px solid #e0e0e0 }
section.support .support_inner button { width: 200px; height: 40px; text-align: center; background: #e0e0e0;  }
section.support .support_inner button:hover ,button:focus { background: #222; color: white;}
section.support .news , .store { width: 50%;}
section.support .news { float: left; }
section.support .store { float: right;}

/*contact button*/
a.contact { position: fixed; display: block; right:2%; bottom:258px; z-index: 999; width: 50px; height: 50px; text-align: center; color: white; background: rgba(0, 0, 0, 0.5); border-radius: 50px; font-size: 10px; padding-top: 10px; box-sizing: border-box; box-shadow: 2px 2px 2px rgba(0,0,0,0.5); transition:all 0.4s; font-size: 0;}
a.contact:hover { background:#77befe}
a.contact i { font-size: 30px; vertical-align: middle;}
